* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Sans-Serif;
  }
.header {
    display: flex;
    width: 300px;
}
.menuNav {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
    font-size: 20px;
    column-gap: 22px;

}
span {
    padding-right: 30px;
}
.main-menu {
    cursor: pointer;
    position: relative;
    display: block;
    border-radius: 20px;
    padding: 10px;
    background-color: none;
    height: 40px;
}
.main-menu:hover {
    background-color: rgb(197, 196, 196);
}
.main-menu .tooltiptext {
    visibility: hidden;
    width: 90px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 180%;
    margin-left: -60px;
    font-size: 12px;
    margin-top: 10px;
}
.main-menu:hover .tooltiptext {
    opacity: 0.6;
    visibility: visible;
}
.compose {
    margin: 5px;
    background-color: #d0e4f7;
    border-radius: 15px;
    width: 150px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    line-height: 60px; 
    cursor: pointer;
}
.compose:hover {
    box-shadow: 0 0 5px rgb(201, 197, 197);
}